body{

    background-color: lightsteelblue;
    width: 75%;
    margin: 0 auto;
}
h3{
    color: #cf8f97;
}
p{
    padding: .8em;
    color:#6e6b6f;
    background-color: #bfa499 ;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(110,107,111,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(110,107,111,1);
    box-shadow: 10px 10px 5px 0px rgba(110,107,111,1);
}
small{
    color: #6e6b6f;
}
.hidden{
    display: none;
}
#title{
    text-align: center;
    color:#6e6b6f;
}
#title h3{
    color:#6e6b6f;
}