
.fancy-header{
    color: darkblue;
    text-decoration: underline;
    text-align: center;
}

.center{
    text-align: center;
}

h2{
    color: #003595;
    text-align: center;
}



body{
    font-family: cambria, sans-serif;
    background-image: url("../img/white-background.jpg");
}
li{
    list-style-type:square ;

}
#paychart td{
    padding:20px;
    font-size: 20px;
}
#paychart th{
    font-size: 30px;
}
a:link{
    color: darkblue;
}
a:visited{
    color: black;
}
a:hover{
    font-size: 18px;
    color: darkgrey;

}
a:active{
    color:black;
}

table.centered{
    margin-right: auto;
    margin-left: auto;
}

